<div class="container">
    <h1>Today's Greatest Hits</h1>
    <hr>
    <div class="row">
        <div class="card-columns" *ngIf="response">
            <div (click)="showMoreData(game._id)" class="card bg-light mb-5 ml-2 mr-2 mt-2" style="max-width: 18rem;"  *ngFor="let game of response">
                <img class="card-img-top" src={{game.imgSrc}} alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{game.title}}</h5>
                </div>
            </div>
            <br>
        </div>
        <div *ngIf="loadVal==1 && response2">
            <div class="card">
              <div class="card-body">
                <h2 class="card-title">{{response2[0]?.title}}</h2>
                <p class="card-text">{{response2[0].description}}</p>
                <hr>
                <h4 class="card-title" >Reviews and Ratings</h4>

                <div *ngFor="let review of response2[0]['reviewRating']">
                    <h5 class="card-title">{{review.reviewName}}</h5>
                    <p class="card-text">{{review.reviewComments}}</p>
                    <p class="card-text">{{review.rating}}</p>
                    <br>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>


