<div class="container">
    <h1>Today's Greatest Hits</h1>
    <hr>
    <div class="row">
        <div class="card-columns" *ngIf="response">
            <div (click)="showMoreData(game._id)" class="card bg-light mb-5 ml-2 mr-2 mt-2" style="max-width: 18rem;"  *ngFor="let game of response">
                <img class="card-img-top" src={{game.imgSrc}} alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{game.title}}</h5>
                </div>
            </div>
            <br>
        </div>
        <div *ngIf="loadVal==1">
            <h2>hello</h2>
        </div>
    </div>
</div>


