<div class="container">
    <h1>Today's Greatest Hits</h1>
    <hr>
    <div class="row">
        <div class="card-columns" *ngIf="response">
            <div (click)="showMoreData(game._id)" class="card bg-light mb-5 ml-2 mr-2 mt-2" style="max-width: 18rem;"  *ngFor="let game of response">
                <img class="card-img-top" src={{game.imgSrc}} alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{game.title}}</h5>
                </div>
            </div>
            <br>
        </div>
        <div *ngIf="loadVal==1 && response2">
            <div class="card">
              <div class="card-body">
                <h2 class="card-title">{{response2[0]?.title}}</h2>
                <h3 class="card-title">${{response2[0].price}}</h3>
                <p class="card-text">{{response2[0].description}}</p>
                <br>
                <button style="margin-right: 10px;" class="btn btn-light" *ngIf="currentUserStrength==1" (click)="addtocart(response2[0].title,response2[0].price)">Add to Cart</button>
                <button class="btn btn-light" *ngIf="currentUserStrength==1" (click)="makeReview(response2[0].title)">Add Review</button>
                <button style="margin-right: 10px;" class="btn btn-light" *ngIf="currentUserStrength==2" (click)="deleteItem(response2[0].title)">Delete Item</button>
                <button class="btn btn-light" *ngIf="currentUserStrength==2" (click)="modifyItem(response2[0].title)">Modify Item</button>
                <hr>
                
                <h4 class="card-title" >Reviews and Ratings</h4>

                <div *ngFor="let review of response2[0]['reviewRating']">
                    <h5 class="card-title">{{review.reviewName}}</h5>
                    <h6 class="card-title">{{review.reviewWriter}}</h6>
                    <p class="card-text">{{review.reviewComments}}</p>
                    <p class="card-text">{{review.rating}}</p>
                    <br>
                </div>
              </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container" *ngIf="currentUserStrength==1">
        <h1>{{currentUser}}'s Shopping Cart</h1>
        <hr>
        <div class="container" *ngIf="shoppingCart.length > 0">
            <div *ngFor="let item of shoppingCart">
                <h2>{{item[0]}}</h2>
                <h3>${{item[1]}}</h3>
                <h3>Quantity: {{item[2]}}</h3>
                <button class="btn btn-dark" style="margin-right: 10px;" (click)="addQuantity(item[0])">+</button>
                <button class="btn btn-dark" (click)="remQuantity(item[0])">-</button>
                <br><br>
                <button class="btn btn-danger" (click)="removeItem(item[0])">Remove</button>
                <br>
                <br>
            </div>
            <hr>
            <button class="btn btn-danger" (click)="clearCart()" style="margin-right:10px;">Clear All Items</button>
            <button class="btn btn-success" (click)="buyCart()">Buy</button>
            <hr>
            <h3>Total:</h3>
            <h1>${{cartTotal}}</h1>
        </div>
    </div>
    
    <div class="container" *ngIf="finalCart.length > 0">
        <h4>You Purchase Receipt</h4>
        <div *ngFor="let x of finalCart">
            <h6>{{x[0]}}</h6>
            <h6>${{x[1]*x[2]}}</h6>
            <br>
        </div>
        <h4>Total ${{finalCost}}</h4>
    </div>
    <br>
    <br>
    <br>
    <div class="container" *ngIf="reviewOn && currentUserStrength==1">
        <h3>Fill out a Review</h3>
        <form>
            <div class="form-group">
                <label for="gameTitle">Game Title</label>
                <input type="text" class="form-control" #gTInput id="gameTitle" placeholder="Black Ops 4">
            </div>
            <div class="form-group">
                <label for="title">Review Title</label>
                <input type="text" class="form-control" #titleInput id="title" placeholder="The Best Game Ever">
            </div>
            <div class="form-group">
                <label for="rating">Rating (please write out of 10)</label>
                <input type="text" class="form-control" #ratingInput id="rating" placeholder="5/10">
            </div>
            <div class="form-group">
                <label for="review">Write your review here</label>
                <textarea class="form-control" #reviewInput id="review" rows="3"></textarea>
            </div>
        </form>
        <button class="btn btn-dark" (click)="submitReview(titleInput.value,ratingInput.value,reviewInput.value,gTInput.value)">Save Review</button>
    </div>
    <br>
    <br>
    <div class="container" *ngIf="currentUserStrength==1">
        <button class="btn btn-light btn-lg" (click)="startMakeCollection()">Create Your Own Collection</button>
        <div *ngIf="activateColl">
            <form>
                <div class="form-group">
                    <label for="nameColl">Enter your collections name</label>
                    <input type="email" class="form-control" id="nameColl" placeholder="My Collection">
                </div>
  
                <div class="form-group">
                    <label for="descColl">Add a description</label>
                    <textarea class="form-control" id="descColl" rows="3"></textarea>
                </div>
              
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary active">
                        <input type="radio" name="private" id="default" autocomplete="off" checked> Private
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" name="Public" id="public" autocomplete="off"> Public
                    </label>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container" *ngIf="currentUserStrength==2">
    <button class="btn btn-light btn-lg" *ngIf="currentUserStrength==2" (click)="newItem()">Add New Item</button>
    <br>
    <br>
    <div *ngIf="newItemActivate == true">
        <h4>Enter in the info to make your new item:</h4>
        <br>
        <label for="gameNameInput">Enter the title of the game</label>
        <input type="text" class="form-control" id="gameNameInput" #gNI placeholder="Call of Duty">
        <label for="gamePriceInput">Enter the price of the game</label>
        <input type="text" class="form-control" id="gamePriceInput" #gPI placeholder="33">
        <label for="gameDescInput">Enter the description of the game</label>
        <input type="text" class="form-control" id="gameDescInput" #gDI placeholder="Description here...">
        <label for="gameStock">Enter the stock of the game</label>
        <input type="text" class="form-control" id="gameStock" #gS placeholder="20">
        <label for="gameLink">Enter the image link of the game</label>
        <input type="text" class="form-control" id="gameLink" #gL placeholder="imgur link here...">
        <br>
        <button class="btn btn-success" (click) = "makeNewItem(gNI.value,gPI.value,gDI.value,gS.value,gL.value)">Create Item</button>
        <br>
    </div>
    <h2 *ngIf="response3">{{response3}}</h2>
</div>

<div class="container" *ngIf = "currentUserStrength==2 && startModify">
    <label for="gameDescInput">Modify the description of the game</label>
    <input type="text" class="form-control" id="gameDescInput" #gDI placeholder="Description here...">
    <label for="gameStock">Enter the new stock of the game</label>
    <input type="text" class="form-control" id="gameStock" #gS placeholder="20">
    <label for="gamePrice">Enter the new price of the game</label>
    <input type="text" class="form-control" id="gamePrice" #gP placeholder="52">
    <br>
    <button class="btn btn-success" (click) = "finalModify(gP.value,gS.value,gDI.value)">Modify Item</button>
</div>